<div th:fragment="footer">
    
    <footer style="background-color:#cd681a; color:white; text-align:center; padding:20px 0; font-family: 'Arial', sans-serif;border: 3px solid #000;">
        <h3>🌮 ElmeroTaco 🌮</h3>
        <p>&copy; 2025 ElmeroTaco. Todos los derechos reservados.</p>
        <p>
            <a th:href="@{/menu}" style="color:white; text-decoration:none; margin: 0 10px;">Menú</a> | 
            <a th:href="@{/ubicacion}" style="color:white; text-decoration:none; margin: 0 10px;">Ubicación</a> | 
            <a th:href="@{/contacto}" style="color:white; text-decoration:none; margin: 0 10px;">Contacto</a>
            
        </p>
    </footer>
</div>