<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ElmeroTaco - Misión</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/objetivos.css}">
</head>

<body class="bg-taco">

    <!-- Navbar -->
    <th:block th:replace="fragments/navbar :: navbar"></th:block>

    <!-- Contenedor de la tarjeta -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card card-hover">
                    <div class="card-body">
                        <h5 class="card-title text-center">Objetivos</h5>
                        <p class="card-text">
                        <li> Captar y fidelizar una clientela regular, construyendo reputación local por sabor, servicio y constancia.</li>
                        <li> Establecer procesos internos robustos — desde selección de ingredientes hasta atención al cliente — que garanticen calidad uniforme en cada taco servido.</li>
                        <li> Crear una identidad clara y atractiva (marca, ambiente, estilo) que la diferencie de otras opciones de comida rápida o restaurantes.</li>
                        <li> Expandir la oferta con servicios complementarios: combos, bebidas, opciones de menú variado; quizás delivery o eventos especiales, para crecer sosteniblemente.</li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
   <th:block th:replace="fragments/footer :: footer"></th:block>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>




